body {
    background: linear-gradient(135deg, #7b2ff7, #f107a3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

textarea {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

button {
    background: linear-gradient(135deg, #ff4b2b, #ff9068);
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
